
<h3>Time Entries Report</h3>


<div class="left">
  <%= datagrid_form_for @time_entry_report %>
  <br/>

  <%= datagrid_table(@time_entry_report) %>
  <%= paginate @time_entry_report.assets %>

</div>

<div class="right">
  <%= render :partial => "shared/source", :object => @time_entry_report %>
</div>
