 <% grid ||= source -%>

<%
    def source(path, type = "ruby")
      content_tag(:pre, content_tag(:code, File.read("#{Rails.root}/app/#{path}")), :class => "sh_#{type}")
    end


-%>
<h3>Grid:</h3>
<%= source("grids/#{grid.class.to_s.underscore}.rb") %>

<h3>Controller:</h3>
<%= source("controllers/#{controller.class.to_s.underscore}.rb") %>

<h3>View:</h3>
<%= source("views/#{controller_name}/index.html.erb", "html") %>
