.prose.w-full.max-w-full
  %h2 Demo Applicaton

  %p
    This app is designed to show some basic features of
    %a{href: "https://github.com/bogdan/datagrid"} Datagrid
    ruby gem.

  %h3 Content

  Examples:

  %ul
    %li 
      %a{href: users_path} UsersGrid
      &mdash; shows basic features of displaying a particular database table content.
    %li
      %a{href: time_entries_path} TimeEntriesGrid
      &mdash; shows advanced features of aggregation and building a report on top of it.
    %li
      %a{href: time_entries_path} IssuesGrid
      &mdash; shows datagrid wrapping an HTTP API endpoint without database storage.
  %h3 Links
  %ul
    %li
      %a{href: "https://www.rubydoc.info/gems/datagrid"} YARD API documentation
    %li
      %a{href: "https://github.com/bogdan/datagrid"} Gem Source Code
    %li
      %a{href: "https://github.com/bogdan/datagrid-demo"} Demo Source Code
    %li
      %a{href: "https://github.com/bogdan"} Author's Profile

  %strong Thanks!

