.prose.w-full.max-w-full
  %h2 Demo Applicaton

  %p
    This app is designed to show some basic features of
    %a{href: "https://github.com/bogdan/datagrid"} Datagrid
    ruby gem.

  %h3 Content

  Examples:

  %ul
    %li 
      %a{href: users_path} UsersGrid
      &mdash; shows basic features of displaying a particular database table content.
    %li
      %a{href: time_entries_path} TimeEntriesGrid
      &mdash; shows advanced features of aggregation and building a report on top of it.
  %h3 Links
  %ul
    %li
      %a{href: "https://github.com/bogdan/datagrid"} Gem Soruce Code
    %li
      %a{href: "https://github.com/bogdan/datagrid-demo"} Demo Soruce Code
    %li
      %a{href: "https://github.com/bogdan"} Author Profile

  %strong Thanks!

