%div{:style => "float: left"}
  = model.account_name
= image_tag("http://www.#{model.account_name}.com/favicon.ico", :style => "padding-left: 5px; float: right; width: 16px; height: 16px")
%div{:style => "clear: both"}
