.grid-index-grid
  %div{class: 'overflow-x-auto max-w-full p-4'}
    = datagrid_form_for @time_entries_grid, url: time_entries_path
    %br/
    = datagrid_table(@time_entries_grid)
    = paginate @time_entries_grid.assets
  %div
    = render :partial => "shared/source", :object => @time_entries_grid
