table.datagrid
  td, th
    &.id
      min-width: 30px
    &.created_at
      min-width: 80px

.datagrid-filter 
  input[class*='filter'] 
    width: 300px
  select
    width: 300px
  input.from, input.to
    width: 144px !important
  select.dynamic_filter.field
    width: 242px
