body
  font-family: Times new Roman

table.datagrid
  border-collapse: collapse
  th
    background-color: #EEE
    &.created_at
      min-width: 74px

  .order
    text-decoration: none 

  td, th 
    &.id
      min-width: 20px
    border: 1px solid black
    padding: 5px
    &.ordered
      &.asc
        background-color: #BFB
      &.desc
        background-color: #BBF
    


.filter

  width: 360px
  margin: 10px
  label
    width: 150px
    float: left
  a
    float: left
  input, select
    float: left
    &.from, &.to
      width: 90px
  input
    width: 200px
  select
    width: 205px
  .separator
    float: left
    margin: 0 4px
  .enum_filter.column_names
    height: 100px



input[type=submit]
  width: 155px


.clear
  clear: both

.total
  margin: 20px

.left
  float: left
  width: 50%
  margin-right: 15px

.right
  float: right
  width: 45%

.red
  color: red

.pagination
  background: white
  margin: 5px auto
  text-align: center
  cursor: default
  a, span, em
    display: block
    float: left
    margin-right: 1px
  .disabled
    color: #999999
    border: 1px solid #dddddd
  .current
    font-style: normal
    font-weight: bold
    background: #2e6ab1
    color: white
    border: 1px solid #2e6ab1
  a, .current
    padding: 0.2em 0.5em
  a
    text-decoration: none
    color: #105cb6
    border: 1px solid #9aafe5
    &:hover, &:focus
      color: #000033
      border-color: #000033
  .page_info
    background: #2e6ab1
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b
      color: #000033
      background: #2e6ab1 + 60
      padding: 0.1em 0.25em
  /* self-clearing method:
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1%
  *:first-child+html &
    overflow: hidden
  
