body
  font-family: Times new Roman

table.datagrid
  border-collapse: collapse
  th
    background-color: #EEE
    &.created_at
      min-width: 74px

  .order
    text-decoration: none 

  td, th 
    &.id
      min-width: 20px
    border: 1px solid black
    padding: 5px
    &.ordered
      &.asc
        background-color: #BFB
      &.desc
        background-color: #BBF
    


.filter

  width: 360px
  margin: 10px
  label
    width: 150px
    float: left
  a
    float: left
  input, select
    float: left
    &.date_filter
      &.from, &.to
        width: 68px
  input
    width: 180px
  select
    width: 185px
  .separator
    float: left
    margin-right: 4px

input[type=submit]
  width: 155px


.clear
  clear: both

.total
  margin: 20px

.left
  float: left
  width: 50%
  margin-right: 15px

.right
  float: right
  width: 45%

.red
  color: red
